html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}

section {
  background-color: #2f2f2f;
  width: 100%;
}

.container {
  margin: 150px 0px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}

.column-left {
  width: 50%;
  width: 523px;
  height: 393px;
  margin: 0px;
}

.column-left h3 {
  font-family: "Chillax";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: -0.045em;
  margin: 0;
}

.column-right {
  width: 551px;
  height: 393px;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  display: flex;
  padding: 8px 16px;

  background: linear-gradient(
    143.53deg,
    rgba(255, 255, 255, 0.2) -90.47%,
    rgba(255, 255, 255, 0) 215.56%
  );
  /* Neutral/500 */

  border: 1px solid #babec1;
  backdrop-filter: blur(74px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 12px;
  align-items: center;
}

.card .content {
  flex: 1;
  display: flex;
  gap: 8px;
}

.arrow {
  width: 17px;
  height: 10px;
}

.card.open {
  color: red;
}
